@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 6vw;
    height: 6vw;
    font-size: 1vw;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
   list-style: none;
   text-transform: uppercase;
}

button{
    padding: 0.5vw 1vw;
    background-color: red;
    color: #fff;
    text-transform: capitalize;
    border: none;
}

/* *************************************** */

.hero{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4vw 8vw;

  align-items: center;
  justify-content: center;
}
.text_section{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: flex-start;
}
.text_section h1{
  font-size: 8vw;
  line-height: 8vw;
}
.text_section p{
  font-size: 1.2vw;
  width: 65%;
  color: #5A5959;;
  
}
.shop_cat{
  display: flex;
  align-items: center;
  gap: 1vw;
}
#b1{
  background-color: red;
  padding: 0.5vw 2vw;
  font-size: 1.4vw;
}
.b2{
  background-color: transparent;
  color: #5A5959;
  border: 2px solid #5A5959;
  padding: 0.5vw 2vw;
  font-size: 1.4vw;
}
.avbl{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 25vw;
  gap: 1vw;
}
.avbl p{
  font-weight: 300;
}
.avbl_logo{
  display: flex;
  align-items: center;
  gap: 1vw;
}
  #shoe_section img{
    width: 40vw;
  }